* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Playwrite DE Grund", sans-serif; 
    color: #ffffff;
  
}


h1{

    font-family: "Satisfy", sans-serif;
    font-size: 80px;
    font-weight: 300;
    text-align: center;
    padding: 10px;

}

  
h2{

    font-family: "Satisfy", sans-serif;
    font-weight: 300;
    padding: 20px;
    text-align: center;
    font-size:30px ;
    border-radius: 25px;
    background-color: #ffcee6;
    color: #484753;

}


h3{

    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 20px;
    text-align: justify;

}


h4{

    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    display: flex;
    justify-content: center;
    padding-left: 25px;
   

}


h5{

    font-weight: 300;

}


p{

    border-radius: 25px;
    background-color: #ffcee6;
 
    color: #484753;
    padding: 30px;
    width: 80%;
    height: auto;
    text-align: justify;
}


a{
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    font-family: "Satisfy", sans-serif;
    font-weight: 300;

}


body{
    background-color:#484753;
    
    



}


nav{

    font-size: 30px;
    font-weight: 400;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #90bbfc;
   padding: 20px; 
    border-bottom: 5px solid #ffcee6;

    display: flex;
    flex-direction: row;
    justify-content: center;

}


sectionOne, sectionTwo, sectionDanmei, sectionRead, sectionArtists{

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;

}


footer{
 
    padding: 25px;
    background: #90bbfc;
    text-align: center;
    font-weight: 300;

}


#aboutPage{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    margin: auto;
    justify-content: center;
    border-radius: 25px;
    background-color: #484753;

}


#art {

   display: flex;
   justify-content: center;
  
}


#bio {
 
    width: auto;
    padding: 10px;
    margin-right: 20px;
  
}


.flower{

    width: 90px;
    height: fit-content;
 
}


.girl{

    width: 500px;
    height: fit-content;
}





