* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background-color: #484753;
    color: white;
    font-family: "Playwrite DE Grund", cursive;
    

}


nav{

    font-family: "Playwrite DE Grund", cursive; 
    font-size: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
   
    a{
        color: aliceblue;
        text-decoration: none;
        padding: 5px;
    }



}


h1{
font-size: 50px;

}


img {

width: 50%;
}

